<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LanguageExt.Core" version="3.1.12" targetFramework="net462" />
  <package id="LanguageExt.Parsec" version="3.1.12" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net462" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net462" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net452" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>